$bgColor: #ffffff;
$menuColorText: #1b1c21;

.header-wrapper,
.header-wrapper__item,
.header-wrapper__popup-list,
.header-wrapper__stable-list,
.h1-block,
.header-wrapper__stable-item,
.right-header__link-repair,
.right-header__link-checkstatus {
  display: flex;
  align-items: center;
}
.header {
  height: 88px;
  display: flex;
  background-color: $bgColor;
}

.header-wrapper__popup-list,
.header-wrapper__stable-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.h1-block--visible,
.header-wrapper__popup-list--visible,
.header-wrapper__item-p--visible,
.left-header__link-search--visible {
  display: none;
}

.header-wrapper {
  width: 100%;
  justify-content: space-between;
}

.header-wrapper__button-burger {
  margin-left: 16px;
  padding: 0;
}
.left-header__link-menu-logo {
  margin-left: 16px;
}

.left-header__link-logo,
.left-header__divider-img {
  margin-left: 17px;
}

.header-wrapper__stable-item {
  margin-right: 16px;
}

.right-header__link-repair {
  margin-left: 20px;
}

.header-wrapper__popup-item {
  margin-left: 16px;
}
.right-header__divider-img {
  margin-left: 20px;
}

.header-wrapper__list-nav-vartical {
  padding: 0;
  margin: 0;
}

.header-wrapper__verical-list-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
}
.header-wrapper__vertical-link {
  text-decoration: none;
}

.header-wrapper__nav-verical--visible {
  display: none;
}

.header-wrapper-bottom--margin {
  margin-left: 24px;
}

.header-wrapper__phone-number,
.header-wrapper__mail-bottom {
  text-decoration: none;
  margin: 0;
  color: black;
}

.header-wrapper__check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-wrapper__check-input:checked + .header-wrapper__label {
  color: #7e7e82;
}

.header-wrapper__mail-bottom {
  display: block;
  margin: 16px 0 12px 0;
}

.header-wrapper__check-form {
  margin: 40px 0 32px 0;
}

.header-wrapper__vertical-link::before {
  position: absolute;
  background: url('./img/main/highlight.svg') no-repeat;
  content: '';
  width: 32px;
  height: 116px;
  left: 0;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.header-wrapper__vertical-link:hover::before {
  transition: transform 0.3s ease-in-out;
  transform: translate(0, -10px) scale(1);
  display: block;
}

.header-wrapper__bottom {
  display: none;
}

.header-wrapper__button-burger,
.header-wrapper__call-button,
.header-wrapper__message-button {
  display: flex;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  align-items: center;
  width: 40px;
  height: 40px;
}
.right-header__link-contact {
  display: flex;
}

@media (min-width: 768px) {
  .header-wrapper__popup-list--visible {
    display: flex;
  }
  .left-header__divider-img--change-place {
    order: -1;
  }

  .header-wrapper__button-burger--change-place {
    order: -2;
  }
  .left-header__divider-img {
    margin-left: 24px;
  }
  .header-wrapper__button-burger {
    margin-left: 24px;
  }
}

@media (min-width: 1426px) {
  .header-wrapper__nav-verical--visible,
  .left-header__link-search--visible {
    display: flex;
  }

  .header-wrapper__stable-list--visible,
  .right-header__divider-img--visible,
  .header-wrapper__button-burger--visible {
    display: none;
  }
  .header-wrapper__bottom {
    display: flex;
    flex-direction: column;
  }
  .header-burger-menu-wrapper--visible {
    display: none;
  }

  .header-wrapper {
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header {
    position: absolute;
    margin-left: 0;
    max-width: 306px;
    height: 100vh;

    z-index: 2;
  }
  .left-header__link-menu-logo--visible,
  .left-header__divider-img--visible {
    display: none;
  }
  .header-wrapper__item {
    align-self: stretch;
    justify-content: space-between;
    margin: 30px 31px 0 22px;
  }
  .left-header__link-logo {
    margin: 0;
  }
  .header-wrapper__nav-verical {
    margin: 37px 24px;
  }
  .header-wrapper__popup-item {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 16px;
  }

  .header-wrapper__item-p--visible {
    display: flex;
    position: relative;
    width: 120px;
  }
  .header-wrapper__stable-list--visible {
    display: flex;
    position: relative;
    bottom: 590px;
    left: 860px;
  }

  .right-header__link-repair,
  .right-header__link-checkstatus {
    text-decoration: none;
  }
  .header-wrapper__button-burger {
    margin-left: 0;
  }
}
